@model Lelo.Models.Board

@{
    ViewBag.Title = "Details";
}

<style>
#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  </style>



<h2>Details</h2>

<div>
    <h4>Board</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nazwa listy</th>
                <th>Zadania</th>
            </tr>
        </thead>
        @{
            int i = 1;

            foreach (var item in Model.TaskLists)
            {
                <tr>

                    <td> @item.Name </td>

                    <td>

                        <ul class="connectedSortable" id="@("sortable" + i)">
                            @foreach (var item2 in item.LeloTasks)
                            {
                                <li>@Html.ActionLink(@item2.Name, "Details", "LeloTasks", new { Id = item.Id }, null) </li>
                            }
                        </ul>

                    </td>
                </tr>
                i++;
            }
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts{
    <script>
        $(document).ready(function () {
            console.log("ready!");

            $(function () {
                $("#sortable1, #sortable2").sortable({
                    connectWith: ".connectedSortable"
                }).disableSelection();
            });
        });
    </script>
}