@model Lelo.Models.Priority

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie priorytetu</h2>

<h3>Potwierdź usunięcie</h3>
<h4>W przypadku, gdy priorytet jest w użyciu, usunięcie nie będzie możliwe</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd  style="background: @(Model.Color)">
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
